* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-screen {
    background-color: #FAA307;
    min-height: 100vh;
    max-width: 100%;
}


.container {
    min-height: 100vh;    
    width: 80%;
    gap: 20px;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/* navy and red boxes */
.box {
    width: 273px;
    height: 220px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px 20px;
}

.box--one, .box--three, .box--five {
    background-color: #03071E;
}

.box--two, .box--four {
    background-color: #6A040F;
}

/* cirlces inside boxes */
.box__circle {
    background-color: #748CAB;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* box one */
.box--one {
    justify-content: flex-start;
    align-items: flex-start;
}

/* box two */
.box--two {
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
}

/* box three */
.box--three {
    justify-content: space-between;
    align-content: space-between;
}

/* box four */
.box--four {
    justify-content: space-between;
    align-items: center;
}

/* box five */
.box--five {
    justify-content: center;
    align-items: center;
}

/* box six (hidden) */
.box--six {
    visibility: hidden;
}

/* need to fix row gap between circles... */