* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main screen */ 
.screen {
    background-color: #FAA307;
    min-height: 100vh;    
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* cohtainer for boxes */
.container {
    width: 860px;
    height: 460px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    align-content: center;
    gap: 20px;
}

/* boxes */
.box {
    width: 273px;
    height: 220px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

.box:nth-child(odd) {
    background-color: #03071E;
}

.box:nth-child(even) {
    background-color: #6A040F;
}


/* cirlces inside boxes */
.box__circle {
    background-color: #748CAB;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* box one */
.box--one {
    justify-content: flex-start;
    align-content: flex-start;
}

/* box two */
.box--two {
    justify-content: flex-end;
    align-content: flex-start;
    flex-wrap: wrap-reverse;
}

/* box three */
.box--three {
    justify-content: space-between;
    align-content: space-between;
}

/* box four */
.box--four {
    justify-content: space-around;
    align-content: space-around;
}

/* box five */
.box--five {
    justify-content: center;
    align-content: center;
}