* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #370617;
    min-height: 100vh;
    max-width: 100%;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

/*  orange square container */
.square {
    background-color: #F48C06;
    min-width: 468px;
    min-height: 160px;
    border-radius: 5px;
    display: flex;
    gap: 20px;
    padding: 20px;
}

/*  red squares inside orange container */
.square__inside {
    background-color: #9D0208;
    min-width: 78px;
    min-height: 78px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 5;
}

.square--one {
    justify-content: flex-start;
    align-items: flex-end;
}

.square--two {
    justify-content: center;
    align-items: stretch;
}

.square--three {
    justify-content: flex-end;
    align-items: center;
}

.square--four {
    justify-content: space-between;
    align-items: flex-start;
}

.square--last {
    align-self: flex-end;
}

/*  cannot get it to align baseline?? */ 
.square--five {
    justify-content: center;
    align-items: baseline;
}

.square--stretch {
    align-self: stretch;
}

.square--shrink {
    line-height: 3;
    max-height: 64px;
}

.square--six {
    justify-content: center;
    align-items: center;
}

.square--grow {
    flex-grow: 2;
}

/*  need to align box 5 baseline */