.container {
    background-color: #370617;
    min-height: 100vh;
    max-width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.square {
    background-color: #F48C06;
    min-width: 468px;
    height: 160px;
    border-radius: 5px;
    margin: 20px 20px;
    display: flex;
}

.square__inside {
    background-color: #9D0208;
    min-width: 78px;
    height: 78px;
    border-radius: 3px;
    margin: 20px;

    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    font-size: 12px;
}

.square--one {
    justify-content: flex-start;
    align-items: flex-end;
}

.square--two {
    justify-content: center;
    align-items: stretch;
}

.square--three {
    justify-content: flex-end;
    align-items: center;
}

.square--four {
    justify-content: space-between;
}

.square--last {
    align-self: flex-end;
}

.square--five {
    justify-content: center;
    align-items: baseline;
}

.square--stretch {
    align-self: stretch;
}

.square--shrink {
    flex-shrink: 1.5;
}

.square--six {
    justify-content: center;
    align-items: center;
}

.square--grow {
    flex-grow: 2;
}